html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background: #272044;
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/oradea-travel.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
  padding: 160px 0;
}

header h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
  margin: 30px 0;
}

header h2 {
  font-size: 40px;
  line-height: 1;
  font-weight: 400;
  margin: 30px 0;
}

header h3 {
  font-size: 24px;
  line-height: 1;
  font-weight: 900;
  letter-spacing: 5px;
  margin: 30px 0;
}

header a {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: 3px;
  padding: 16px 32px;
  margin-top: 32px;
  color: #272044;
  text-decoration: none;
  background: white;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
}

main {
  background: white;
  color: #272044;
}

main h2 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  opacity: 0.3;
  letter-spacing: 5px;
  margin: 0;
  text-transform: uppercase;
}

main h4 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

main p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.7;
}

footer {
  background-image: linear-gradient(
      rgba(39, 32, 68, 0.9),
      rgba(39, 32, 68, 0.9)
    ),
    url(../images/oradea-footer.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

footer h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
}

footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.6;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid div h3 {
  white-space: nowrap;
}

.three-columns-grid-with-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}

.two-columns-grid {
  grid-template-columns: 1fr 1fr;
}

.three-columns-grid {
  grid-template-columns: 1fr 1fr 1fr;
}

.secondary {
  background: #f8f8f8;
}

.text-center {
  text-align: center;
}

.secondary h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

.secondary h5 {
  font-size: 13px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

.secondary .btn {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 3px;
  padding: 16px 32px;
  margin-top: 32px;
  color: white;
  text-decoration: none;
  background: #462cb2;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.card {
  background: white;
  margin: 30px 0;
}

.card-header.grid {
  grid-gap: 0;
}

.card-header .responsive-img {
  aspect-ratio: 1/1;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0 30px 30px;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

.instagram-embed {
  margin: 30px 0;
}

.responsive-img {
  width: 100%;
  margin: 0 auto;
  display: block;
}

@media (max-width: 960px) {  
  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }
  header a {
    font-size: 12px;
    line-height: 1;
    padding: 12px 28px;
    margin-top: 28px;
  }
  footer p {
    margin: 0;
  }
  section {
    padding: 30px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  .card-header img {
    display: none;
  }
  .embed {
    aspect-ratio: 16/9;
  }
  .instagram-embed {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
